pip install bcrypt==4.0.1"A versão 5.0.0 do bcrypt introduziu mudanças que podem causar incompatibilidades com algumas bibliotecas que dependem dela. A versão 4.0.1 é conhecida por ser estável e amplamente compatível com várias bibliotecas, incluindo aquelas usadas em projetos FastAPI. Portanto, especificar a versão 4.0.1 ajuda a evitar problemas de compatibilidade e garante que o ambiente de desenvolvimento permaneça estável."
biblioteca passlib
